*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.bodymonial {
  margin-top: 180px;
}

.container{
  height:100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial{
  position: relative;
  width:450px;
  padding:25px;
  background: #fff;
  cursor: pointer;
  transition: all 300ms ease-out;
  box-shadow: 2px 2px 8px #bababa42;
}

.testimonial .avatar{
  
  height:150px;
  width: 150px; 
  position: absolute;
  top:-90px;
  left:50%;
  transform:translate(-50%,0);
  transition: all 300ms ease-out;
}
.avatar img{
  position: relative;
  object-fit:cover;
  height:100%;
  width:100%;
  border-radius:50%;
  border:7px solid #FEF7F7;
}
.testimonial .body{
  margin-top:50px;
  padding:10px 0;
  color:#000;
  
}
.body p{
  text-align:center;
  word-spacing: 2px;
}
.testimonial{
  text-align:center;
}
.header{
  text-align:center;
  margin-bottom: 15px;
}
.header h1{
  font-weight: 500;
  font-size:20px;
  color:#000;
  margin-bottom: 5px;
  
}
.header p{
  font-size: 20px;
  color: #ffd853;
  margin-bottom: 30px;
}

.testimonial:hover .avatar{
  top:-100px;
}

@media only screen and (max-width: 600px) {
  .container {
    height: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .testimonial {
    position: relative;
    width: 335px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease-out;
    box-shadow: 4px 4px 8px #34343442;
    margin-bottom: 130px;
}

.bodymonial {
  margin-bottom: -15vh;
}

}